{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/images/lang-logo.png">
    </a>
    <h1>Hellow ma brudas</h1>
    <p>This is a simple app did it for Alex Gomez</p>
  </div>
</div>

{% endblock %}
